# Saídas de Compilação
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs e Editores
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Diversas (os)
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class